 .ydp-table-wrapper{
    position: relative;
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
  }
  .ydp-table{
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    margin:0 auto;
    overflow:auto;
  }
  .ydp-table tbody tr:hover{
    background-color: #eef1f6;
  }
 .ydp-table tbody tr:last-child{
  border-bottom: 0!important;
 }
  .ydp-table td, .ydp-table th{
    min-width: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
  }
 .ydp-table tr td:last-child, .ydp-table tr th:last-child{
   border-right: 0!important;
 }
 .ydp-table th>.cell{
   word-wrap: normal;
   text-overflow: ellipsis;
   display: inline-block;
   vertical-align: middle;
   width: 100%;
   box-sizing: border-box;
 }
  .ydp-table.alignCenter td, .ydp-table.alignCenter th{
    text-align: center;
  }
  .ydp-table.alignRight td, .ydp-table.alignRight th{
    text-align: right;
  }

