.after {
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
  }
}

.contentFontSize{
  font-size: 13px;
}

.mainWrap {
  @extend .after;
  width: 100%;
  background-color: #fff;
  padding: 20px;
  user-select: none;
  & ul{
    padding:0; margin: 0;
  }
  & li{
    list-style: none;
    position: relative;
    & i {
      cursor: pointer;
      display: none;
      position: absolute;
      right: 12px;
      top: 5px;
      font-size: 15px;
      &:hover{
        color: #1890ff;
      }
    }
  }
  & li {
    &:hover i {
      display: block;
    }
  }
}

.filterDimensionItem {
  padding: 3px 5px 3px 15px;
  margin: 8px auto;
  background-color: #dee1ea;
  border-radius: 15px;
  border:1px #999 solid;
  box-sizing: border-box;
}

.filterDimensionItemActive {
  background-color: #cdd1dc!important;
  & i {
    display: block!important;
  }
}

.filterDimensionItemHide {
  background-color: #efefef;
}
/****过滤项编辑窗口内容体****/
// 容器
.filterEditorWrap {
  width: 500px;
  height: 430px;
}
//选择类型的行
.filterEditorTypeRow {
  width: 100%;
  padding: 5px 10px;
}
//自定义过滤值工具栏
.valueWrap {
  border: 1px solid #ccc;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
}
.customValueToolBar {
  box-sizing: border-box;
  width: 100%;
  height: 26px;
  & input{
    @extend .contentFontSize;
    border-width: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    width: 100%;
  }
}

.listValueToolBar {
  @extend .customValueToolBar;
}
.listValueBottomToolBar {
  box-sizing: border-box;
  width: 100%;
  height: 26px;
  border-top: 1px solid #ccc;
  & span{
    @extend .contentFontSize;
    display: block;
    line-height: 26px;
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 10px;
    cursor: pointer;
    &:hover {
      background-color: #8cc8ff;
      color: #999;
    }
  }
}
.valueContent {
  background-color: #f9f9f9;
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
  padding: 5px 10px;
}
/**********************/