.after {
  &:after {
    content: "\0020";
    display: block;
    height: 0;
    clear: both;
  }
}

.contentFontSize{
  font-size: 13px;
}

.mainWrap {
@extend .after;
width: 100%;
padding: 5px 20px;
flex-grow: 1;
flex-basis: 0;
overflow-y:auto;
user-select: none;
border: 1px solid rgba(100,100,100,0);
& ul{
  padding:0; margin: 0;
}
& li{
  list-style: none;
  position: relative;
  & i {
    cursor: pointer;
    display: none;
    font-size: 15px;
    &:hover{
      color: #1890ff;
    }
  }
}
& li {
  &:hover i {
    display: block;
  }
}
}

.filterDimensionItem {
  padding: 3px 5px 3px 15px;
  margin: 8px auto;
  background-color: #dee1ea;
  border-radius: 15px;
  border:1px #999 solid;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.filterDimensionItemActive {
  background-color: #cdd1dc!important;
  & i {
    display: block!important;
  }
}

.filterDimensionItemHide {
  background-color: #efefef;
}
/****过滤项编辑窗口内容体****/
// 容器
.filterEditorWrap {
  width: 500px;
  height: 430px;
}
//选择类型的行
.filterEditorTypeRow {
  width: 100%;
  padding: 5px 10px;
}
//自定义过滤值工具栏
.valueWrap {
  border: 1px solid #ccc;
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
}
.customValueToolBar {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 26px;
  & input{
    @extend .contentFontSize;
    border-width: 0;
    border-bottom: 1px solid #ccc;
    padding: 2px 10px;
    width: 100%;
    line-height: 21px;
  }
  & i {
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 15px;
    cursor: pointer;
    &:hover{
      color:dodgerblue;
    }
  }
}

.listValueToolBar {
  @extend .customValueToolBar;
}
.listValueBottomToolBar {
  box-sizing: border-box;
  width: 100%;
  height: 26px;
  border-top: 1px solid #ccc;
  & span{
    @extend .contentFontSize;
    display: block;
    line-height: 26px;
    float: left;
    border-right: 1px solid #ccc;
    padding: 0 10px;
    cursor: pointer;
    &:hover {
      background-color: #8cc8ff;
      color: #999;
    }
  }
}

.listValueContent {
  background-color: #f9f9f9;
  flex-grow: 1;
  flex-basis: 0;
  overflow: auto;
}

.customValueContent {
  @extend .listValueContent;
  padding: 0;
}
.listFilterItem {
  position: relative;
  cursor:pointer;
  padding: 3px 10px;
  &:hover {
    background-color: #b6d8f7;
  }
}
.customFilterItem {
  @extend .listFilterItem;
  &:hover i{
    display: inline-block;
  }
  & i {
    display: none;
    position: absolute;
    right: 5px;
    top: 4px;
    font-size: 15px;
    cursor: pointer;
    &:hover{
      color:#1890ff;
    }
  }
}
.dynamicColumn {
  background-color: #f9f9f9!important;
  padding: 5px!important;
}
.dynamicColumn_center {
  @extend .dynamicColumn;
  text-align: center!important;
}
.editable_cell_icon {
  cursor: pointer;
  margin-left: 5px;
}

.editableCellItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  & i {
    margin-left: 5px;
    font-size: 15px;
    &:hover {
       cursor: pointer;
    }
  }
}

/**********************/

.level {
  background: url(../../assets/images/cube/level.png) center no-repeat ;
  background-size: 16px 16px;
  padding: 0 10px;
  height:20px;
}