ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.ydp-dataBlock{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ydp-dataBlock li{
  overflow: hidden;
}
.ydp-dataBlock li:after{
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
}
.ydp-dataBlock li span{
  display: block;
  float: left;
}
