@import "../Style/themes/default.scss";

.control{
  height: 28px;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  background-color: gainsboro;
  box-shadow: #aca8aa 2px 6px 8px;
  border: #aaaaaa 1px solid;
  .control__info {
    overflow: hidden;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;

    .control__time {
      color: $primary-6;
      display: inline-block;
      margin-right: 10px;
    }
    .control__type-info {
      color: #333;
    }
    .control__type-error,.brace-control__type-warn {
      color: $red-3;
    }
  }
}
.panel {
  border: #aaaaaa 1px solid;
  box-shadow: #aca8aa 2px 6px 8px;
}