th.column-action,
td.column-action {
  text-align: center !important;
}
th.subColumn,
td.subColumn {
  border-top: 0 !important;
  border-right: 0 !important;
  border-left: 0 !important;
}
th.subColumnAction,
td.subColumnAction {
  border-top: 0 !important;
  border-left: 0 !important;
}