.board-builder {
  position: relative;
  min-width: 1000px;
  height: 100%;
  .my-btn{
    color: $header_btn_font_color!important;
    font-family: $font_family!important;
    min-width: 50px!important;
    height:50px!important;
    font-size: $header_btn_bg_fontSize;
    margin: 6px;
    background-color: $header_bg_color;
    //box-shadow:0 0 0!important;
  }
  .my-btn:hover{ background-color: #000}

  .my-btn-icon{
    color: $header_btn_icon_color!important;
    margin-right: 0px !important;
  }

  .btn__content {flex-direction:column}
  .toolbar__title { text-align: center}

  .my-left-toolbar { flex-grow: 1;overflow: inherit;}
  .my-center-toolbar { flex-grow: 9}
  .my-right-toolbar {flex-grow: 2}

  .cut-line {
    display: inline;
    border-right: 2px solid #292e2f;
    height: 40px;
    margin: 12px 4px 12px 0px;
  }

  .b-content {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 450px;
    overflow: auto;
    background: gainsboro;
    user-select: none;

  }
  .b-side {
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    width: 460px;
    background-color: #fcfcfc;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: #b8b8b8;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  .workspace {
    position: relative;
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06) 2px, transparent 1px, transparent 10px),
    repeating-linear-gradient(-90deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06) 2px, transparent 1px, transparent 10px) 1px 1px rgb(216, 216, 216);
    box-sizing: content-box;
    &.drawable {
      cursor: crosshair;
    }
  }
  .m-region {
    position: absolute;
    border: 1px dotted #1881dc;
    background-color: rgba(52, 152, 251, 0.24);
  }

}
