.board-builder {
  position: relative;
  min-width: 1920px;
  height: 100%;

  .cut-line {
    display: inline;
    border-right: 2px solid #292e2f;
    height: 40px;
    margin: 12px 4px 12px 0px;
  }

  .b-content {
    position: absolute;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 450px;
    overflow-x: auto;
    background: gainsboro;
    user-select: none;
  }
  .b-side {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 0;
    width: 460px;
    background-color: #fcfcfc;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 8px;
      height: 8px;
    }
    &::-webkit-scrollbar-button {
      display: none;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      background: #b8b8b8;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  }

  .drawer_container{
    position: relative;
    overflow: auto;
    height: 100%;
    margin-right: 11px
  }
  .workspace {
    position: relative;
    box-sizing: content-box;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    transform-origin:150px 0;
    &.drawable {
      cursor: crosshair;
    }
  }
  .workspaceGrid{
    background: repeating-linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06) 2px, transparent 1px, transparent 10px),
    repeating-linear-gradient(-90deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06) 2px, transparent 1px, transparent 10px) 1px 1px rgb(216, 216, 216);
  }
  .m-region {
    position: absolute;
    border: 1px dotted #1881dc;
    background-color: rgba(52, 152, 251, 0.24);
  }

  .tools{
    position: absolute; height: 45px; overflow: hidden;
    width: auto;
    top:75px; left: -60px;
    transform: translate(65px, 14px);
    background:linear-gradient(to  top,#3881c5, #10437f);

    line-height: 43px; color: #ccc;
    border-radius: 5px 0 0 5px;
    .tools-btn-warp {
      border: 1px solid #0f7ed6;
      float: left;
      border-left: 0;

    }
  }

  .toolsMoveRow{
    height: 45px;
    width: 15px;
    border-radius: 5px 0 0 5px;
    background: linear-gradient(to  right bottom,#bbc9dc,#3c4959, #0a2b52);
    float: left;
    cursor: move;
  }
  .toolsMoveCol{
    height: 15px;
    border-radius: 5px 5px 0 0;
    background: linear-gradient(to  right bottom,#bbc9dc,#3c4959, #0a2b52);
    cursor: move;
  }

  .toosCol{
    background:linear-gradient(to  left,#3881c5, #10437f);
    border-radius: 5px 5px 0 0;
    height: auto;
    width: 47px;
    span{
      padding: 0 10px!important;
    }
    .my-btn{ display: inherit!important;}
    .tools-btn-warp {
      border: 1px solid #0f7ed6 !important;
      border-top: 0!important;
    }
  }

}
