.dataItem-define-panel{
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  .title {
    padding-left: 16px;
    height: 36px;
    line-height: 36px;
    text-align: left;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    position: relative;
    margin-bottom: 0;
    font-size: 14px;
  }
  .dataItem-define-panel-body {
    display: flex;
    .dis-left {
      width: 40%;
      height: 358px;
      overflow: hidden;
      background-color: #f5f5f5;
      border-right: 1px solid #ccc;
      .body {
        height: 100%;
        padding: 10px 10px;
        .el-form-item {
          margin-bottom: 5px !important;
        }
      }
    }
    .dis-right {
      @extend .dis-left;
      width: 60%;
      border-right: none;
      .function {
      }
      .arrList {
        .el-transfer-panel{
          width: 180px !important;
        }
        .el-transfer__buttons{
          padding: 0 5px !important;
        }
        .index-box-out{
          font-size: 12px;
          border: 1px solid #ccc;
          margin-top: 5px;
          background-color: rgb(253, 254, 255);
          box-shadow: 0 2px 4px rgba(0,0,0,.12), 0 0 6px rgba(0,0,0,.04);
          margin-right: 4px;
          .index-box{
            border-top: 1px solid #ccc;
            display: flex;
            padding: 5px;
            overflow-x: auto;
            height: 36px;
            .item{
              padding: 0 5px;
            }
          }
        }

      }
      .objList {
      }
    }
  }
  .obj-table{
    border: 1px solid #ccc;
    width:410px;
    .obj-table-body{
      max-height: 300px;
      overflow-y: auto;
      border-top: 1px solid #ccc;
    }
    .header{
      line-height: 32px;
      text-align:center;
      background-color: rgba(191, 204, 217, 0.51);
      position: relative;
      font-size: 14px;
      .k{
        width: 37%;
      }
      .v{
        width: 45%;
      }
      .o{
        width: 13%;
      }
    }
    .obj-row{
      text-align:center;
    }
  }
}

.el-select-dropdown{
  z-index: 999999999 !important;
}
