//@import "../common/uiStandard";
.ydp-widget {
  //toolbar 到处都有一坨

  // end 坨
  .widget-main{
    height:calc(100% - 64px);
    background-color: #F6FAD3;
    padding: 10px;
    .widget-main-inner{
      height: 100%;
      width: 100%;
      background-color: #f5f5f5;
      overflow: hidden;
      border: 1px solid #ccc;
      box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
      .show-setting{
        position: inherit;
        float: left;
        color: #4c4e59;
        width: 380px;
        height:100%;
        border-right:1px solid #ccc;
        .property-box {
          background-color: #f5f5f5;
          .divider {
            background-color: #ccc;
          }
        }
        .chk-btn{
          span{
            &:hover{
              background-color: #1e88e5;
              color: #FFFFFF !important;
            }
          }
        }
      }
      .title {
        padding-left: 16px;
        height: 36px;
        line-height: 36px;
        text-align: left;
        background-color: #fff;
        border-bottom: 1px solid #ccc;
        position: relative;
        margin-bottom: 0;
        font-size: 14px;
      }
      .script-panel{
        height:100%;
        position: inherit;
        float: left;
         width:calc(100% - 380px);
         min-width: 800px;
        .script-panel-inner{
          height: calc(100% - 30px);
           width:100%;
          border-bottom: 1px solid #ccc;
         }
        .script-panel-inner-half{
          position: inherit;
          float: left;
          height: calc(100% - 30px);
          width:50%;
          border-right: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
        }
        .action{
          width: 100%;
          display: flex;
          dispaly: -webkit-flex;
          flex-direction: row-reverse;
          .action-btn{
            border-radius:0 !important;
            border: none;
            span{color: #000;}
            padding: 5px 10px;
            border-right: 1px solid #ccc !important;
            &:hover{
              cursor: pointer;
              background-color: #1e88e5;
              span{color: #FFFFFF !important;}
              .mini{
                color: #FFFFFF !important;
              }
            }
            .mini{
              color: #8c8c8c;
              font-size: 22px;
            }
            .position-box{
               display:inline-block;
               text-align:center;
               width: 16px;
               height:18px;
               font-size: 12px;
               border: 1px dotted #ccc;
            }
          }
        }
      }
    }
  }

  .flex-left{
    padding-right: 0 !important;
  }
  .flex-right{
    padding-left: 0 !important;
  }
  .operational_zone{
    margin: 10px;
  }
  .preview_zone{
    padding-left: 0 !important;
    height:calc(100vh - 80px) !important;
    margin: 10px;
  }

  .ace_gutter{
    border-radius: 4px;
  }
  .my_tabs_item{
    height:calc(100vh - 140px);
  }
  .card_content{
    width: calc(100% - 80px);
    height: calc(100% - 20px) !important;
    left:70px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    position: inherit;
  }
  .card__text{
    height: 100%;
    padding: 0 !important;
  }
}
.widget-dataset-dialog{
 // height: calc(100vh - 100px);
  width: calc(100vw - 20px) !important;
  max-width: 1920px !important;
  //background-color:#880e4f !important;
}
.widget-dataset-action-zone{
display: none;
}
.widgetInstance-dialog-wrapper{
  position: fixed;
  left: 10px;
  top: 76px;
  right: 10px;
  bottom: 10px;
  display: flex;
}
.widget-dataset-dialogBody{
  //height: calc(100vh - 160px);
  height: calc(100% - 2px);
  padding: 2px 2px !important;
}
.widget-list-dialog{
  height: calc(100vh - 140px);
  width: calc(100vw - 40px) !important;
  max-width: 1366px !important;
  background-color:#880e4f !important;
  .toolbar--fixed {
    position: inherit !important;
  }
}
.widget-list-dialogBody{
  height: calc(100%);
  padding: 5px 5px !important;
  min-height: 834px;
}
.widget-list-inner-dialog{

}
.widget-list-inner-dialogBody{
  padding: 5px 5px !important;
}
.widgetBox{
  max-width: 1386px !important;
  .card{
    height: 300px !important;
    margin-bottom: 30px;
    border-radius: 5px;
    max-width: 350px;
    min-width: 300px;
  }
  .card-out{
    @extend .card;
    background-color: rgba(66, 66, 66, 0.75) !important;

  }
  .card-out-selected{
    @extend .card;
    background-color: #880e4f  !important;
  }
  .card-in{
    @extend .card;
  }
  .image{
    display: block;
    margin:0 auto;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    max-height: 240px !important;
  }
  .card__text{
    padding:16px;
  }
  .card__text>div{
    min-width: 60px;
    overflow: hidden;
    text-overflow:ellipsis;
  }
  .card>.card__text{
    height: 260px !important;
  }
  .cardCol{
    height: 40px;
  }
  .content_box{
    overflow: auto;
  }
  #navigation-1 a {
    text-decoration: none;
  }
  .navigation-drawer{
    max-width:220px;
  }
  .navigation-drawer--persistent.navigation-drawer--open:not(.navigation-drawer--is-mobile):not(.navigation-drawer--right) ~ main, .navigation-drawer--persistent.navigation-drawer--open:not(.navigation-drawer--is-mobile):not(.navigation-drawer--right) ~ .footer:not(.footer--fixed):not(.footer--absolute){
    padding-left: 220px;
  }
  .navigation-drawer--persistent.navigation-drawer--open:not(.navigation-drawer--is-mobile):not(.navigation-drawer--right):not(.navigation-drawer--clipped) ~ .toolbar{
    padding-left: 220px;
  }
}
.dashboardBox{
  max-width: 1386px !important;
  .card{
    height: 320px !important;
    margin-bottom: 30px;
    border-radius: 5px;
    max-width: 550px;
    min-width: 500px;
  }
  .card-out{
    @extend .card;
    background-color: rgba(66, 66, 66, 0.75) !important;

  }
  .card-out-selected{
    @extend .card;
    background-color: #880e4f  !important;
  }
  .card-in{
    @extend .card;
  }
  .image{
    display: block;
    margin:0 auto;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    max-height: 280px !important;
  }
  .card__text{
    padding:16px;
  }
  .card__text>div{
    min-width: 60px;
    overflow: hidden;
    text-overflow:ellipsis;
  }
  .card>.card__text{
    height: 280px !important;
  }
  .cardCol{
    height: 40px;
  }
  .content_box{
    overflow: auto;
  }
  #navigation-1 a {
    text-decoration: none;
  }
  .navigation-drawer{
    max-width:220px;
  }
  .navigation-drawer--persistent.navigation-drawer--open:not(.navigation-drawer--is-mobile):not(.navigation-drawer--right) ~ main, .navigation-drawer--persistent.navigation-drawer--open:not(.navigation-drawer--is-mobile):not(.navigation-drawer--right) ~ .footer:not(.footer--fixed):not(.footer--absolute){
    padding-left: 220px;
  }
  .navigation-drawer--persistent.navigation-drawer--open:not(.navigation-drawer--is-mobile):not(.navigation-drawer--right):not(.navigation-drawer--clipped) ~ .toolbar{
    padding-left: 220px;
  }
}
.widgetBoxSelect{
  @extend .widgetBox;
  height: 708px;
  li{
    display: inline-block;
    a{
      text-decoration-line: none;
    }
  }
}
.comptTypeList{
  .wl-footer{
    bottom: 0px;
    position: fixed;
    width: calc(100%);
    padding: 30px 10px;
  }
  .pagination__item{
    background:rgb(249, 244, 244)
  }
  .pagination__item--active{
    background: #880e4f !important;
    color: #fff
  }
  .pagination {
    margin:0 auto !important;
    li{
      a{
        background:rgb(249, 244, 244)
      }
    }
  }
  .wl-table {
    width: calc(95%);
    margin: 0 auto;
    margin-top: 20px;
  }
  .input-search{
    width:250px;
  }
}
.widgetList{
  .wl-footer{
    bottom: 0px;
    position: fixed;
    width: calc(100%);
    padding: 30px 10px;
  }
  .pagination__item{
    background:rgb(249, 244, 244)
  }
  .pagination__item--active{
    background: #880e4f !important;
    color: #fff
  }
  .pagination {
    margin:0 auto !important;
    li{
      a{
        background:rgb(249, 244, 244)
      }
    }
  }
  }
.widgetInstanceList{
  .wl-footer{
    bottom: 0px;
    position:fixed;
    width: calc(100%);
    padding: 30px 10px;
  }
  .pagination__item{
    background:rgb(249, 244, 244)
  }
  .pagination__item--active{
    background: #880e4f !important;
    color: #fff
  }
  .pagination {
    margin:0 auto !important;
    li{
      a{
        background:rgb(249, 244, 244)
      }
    }
  }
}
.dashboardList{
  .wl-footer{
    bottom: 0px;
    position:fixed;
    width: calc(100%);
    padding: 30px 10px;
  }
  .pagination__item{
    background:rgb(249, 244, 244)
  }
  .pagination__item--active{
    background: #880e4f !important;
    color: #fff
  }
  .pagination {
    margin:0 auto !important;
    li{
      a{
        background:rgb(249, 244, 244)
      }
    }
  }
  .input-search{
    width:250px;
  }
}
.widgetListDialog{
  .wl-footer{
    bottom: 0px;
    position: inherit;
    width: calc(100%);
    padding: 30px 10px;
  }
  .pagination__item{
    background:rgb(249, 244, 244)
  }
  .pagination__item--active{
    background: #880e4f !important;
    color: #fff
  }
  .pagination {
    margin:0 auto !important;
    li{
      a{
        background:rgb(249, 244, 244)
      }
    }
  }
}
.el-cascader-menus{
  z-index: 90141226 !important;
}
.el-message-box__wrapper{
  z-index: 90141226 !important;
}
.widgetInstance-save-progress{
  margin-top: 25px;
  margin-left: 25px;
}
.widgetInstance-save-progress-msg{
  margin-top: 50px;
}
.widget-toolbar{
  background-color:$header_bg_color !important;
  border:$header_bg_color !important;
  height:64px !important;;
  .toolbar__title{
    color: #FFFFFF !important;
  }
  .btn__content {flex-direction:column}
  .my-btn{
    color: $header_btn_font_color!important;
    font-family: $font_family!important;
    min-width: 50px!important;
    height:50px!important;
    font-size: $header_btn_bg_fontSize;
    margin: 6px;
    background-color: $header_bg_color;
  }
  .my-btn:hover{ background-color: #000}
  .my-btn-icon{
    font-size: 20px;
    color: $header_btn_icon_color!important;
    margin-right: 0px !important;
  }
  .cut-line {
    display: inline;
    border-right: 2px solid #292e2f;
    height: 40px;
    margin: 12px 4px 12px 0px;
  }
}
