.ydp-widget {
  .flex-left{
    padding-right: 0 !important;
  }
  .flex-right{
    padding-left: 0 !important;
  }
  .operational_zone{
    margin: 10px;
  }
  .preview_zone{
    padding-left: 0 !important;
    height:calc(100vh - 80px) !important;
    margin: 10px;
  }

  .ace_gutter{
    border-radius: 4px;
  }
  .my_tabs_item{
    height:calc(100vh - 140px);
  }
  .card_content{
    width: calc(100% - 80px);
    height: calc(100% - 20px) !important;
    left:70px;
    top: 10px;
    right: 10px;
    bottom: 10px;
    position: inherit;
  }
  .card__text{
    height: 100%;
    padding: 0 !important;
  }
}
.widget-dataset-dialog{
  height: calc(100vh - 100px);
  width: calc(100vw - 40px) !important;
  max-width: 1920px !important;
  //background-color:#880e4f !important;
}
.widget-dataset-dialogBody{
  height: calc(100vh - 160px);
  padding: 5px 5px !important;
}
.widget-list-dialog{
  height: calc(100vh - 140px);
  width: calc(100vw - 40px) !important;
  max-width: 1366px !important;
  background-color:#880e4f !important;
  .toolbar--fixed {
    position: inherit !important;
  }
}
.widget-list-dialogBody{
  height: calc(100%);
  padding: 5px 5px !important;
  min-height: 834px;
}
.widget-list-inner-dialog{

}
.widget-list-inner-dialogBody{
  padding: 5px 5px !important;
}
.widgetBox{
  max-width: 1386px !important;
  .card{
    height: 300px !important;
    margin-bottom: 30px;
    border-radius: 5px;
    max-width: 350px;
    min-width: 300px;
  }
  .card-out{
    @extend .card;
    background-color: rgba(66, 66, 66, 0.75) !important;

  }
  .card-out-selected{
    @extend .card;
    background-color: #880e4f  !important;
  }
  .card-in{
    @extend .card;
  }
  .image{
    display: block;
    margin:0 auto;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    max-height: 240px !important;
  }
  .card__text{
    padding:16px;
  }
  .card__text>div{
    min-width: 60px;
    overflow: hidden;
    text-overflow:ellipsis;
  }
  .card>.card__text{
    height: 260px !important;
  }
  .cardCol{
    height: 40px;
  }
  .content_box{
    overflow: auto;
  }
  #navigation-1 a {
    text-decoration: none;
  }
  .navigation-drawer{
    max-width:220px;
  }
  .navigation-drawer--persistent.navigation-drawer--open:not(.navigation-drawer--is-mobile):not(.navigation-drawer--right) ~ main, .navigation-drawer--persistent.navigation-drawer--open:not(.navigation-drawer--is-mobile):not(.navigation-drawer--right) ~ .footer:not(.footer--fixed):not(.footer--absolute){
    padding-left: 220px;
  }
  .navigation-drawer--persistent.navigation-drawer--open:not(.navigation-drawer--is-mobile):not(.navigation-drawer--right):not(.navigation-drawer--clipped) ~ .toolbar{
    padding-left: 220px;
  }
}
.dashboardBox{
  max-width: 1386px !important;
  .card{
    height: 400px !important;
    margin-bottom: 30px;
    border-radius: 5px;
    max-width: 550px;
    min-width: 500px;
  }
  .card-out{
    @extend .card;
    background-color: rgba(66, 66, 66, 0.75) !important;

  }
  .card-out-selected{
    @extend .card;
    background-color: #880e4f  !important;
  }
  .card-in{
    @extend .card;
  }
  .image{
    display: block;
    margin:0 auto;
    width: 100%;
    height: 100%;
    max-width: 100% !important;
    max-height: 400px !important;
  }
  .card__text{
    padding:16px;
  }
  .card__text>div{
    min-width: 60px;
    overflow: hidden;
    text-overflow:ellipsis;
  }
  .card>.card__text{
    height: 360px !important;
  }
  .cardCol{
    height: 40px;
  }
  .content_box{
    overflow: auto;
  }
  #navigation-1 a {
    text-decoration: none;
  }
  .navigation-drawer{
    max-width:220px;
  }
  .navigation-drawer--persistent.navigation-drawer--open:not(.navigation-drawer--is-mobile):not(.navigation-drawer--right) ~ main, .navigation-drawer--persistent.navigation-drawer--open:not(.navigation-drawer--is-mobile):not(.navigation-drawer--right) ~ .footer:not(.footer--fixed):not(.footer--absolute){
    padding-left: 220px;
  }
  .navigation-drawer--persistent.navigation-drawer--open:not(.navigation-drawer--is-mobile):not(.navigation-drawer--right):not(.navigation-drawer--clipped) ~ .toolbar{
    padding-left: 220px;
  }
}
.widgetBoxSelect{
  @extend .widgetBox;
  height: 708px;
  li{
    display: inline-block;
    a{
      text-decoration-line: none;
    }
  }
}
.widgetList{
  .wl-footer{
    bottom: 0px;
    position: fixed;
    width: calc(100%);
    padding: 30px 10px;
  }
  .pagination__item{
    background:rgb(249, 244, 244)
  }
  .pagination__item--active{
    background: #880e4f !important;
    color: #fff
  }
  .pagination {
    margin:0 auto !important;
    li{
      a{
        background:rgb(249, 244, 244)
      }
    }
  }
  }
.widgetInstanceList{
  .wl-footer{
    bottom: 0px;
    position:fixed;
    width: calc(100%);
    padding: 30px 10px;
  }
  .pagination__item{
    background:rgb(249, 244, 244)
  }
  .pagination__item--active{
    background: #880e4f !important;
    color: #fff
  }
  .pagination {
    margin:0 auto !important;
    li{
      a{
        background:rgb(249, 244, 244)
      }
    }
  }
}
.dashboardList{
  .wl-footer{
    bottom: 0px;
    position:fixed;
    width: calc(100%);
    padding: 30px 10px;
  }
  .pagination__item{
    background:rgb(249, 244, 244)
  }
  .pagination__item--active{
    background: #880e4f !important;
    color: #fff
  }
  .pagination {
    margin:0 auto !important;
    li{
      a{
        background:rgb(249, 244, 244)
      }
    }
  }
}
.widgetListDialog{
  .wl-footer{
    bottom: 0px;
    position: inherit;
    width: calc(100%);
    padding: 30px 10px;
  }
  .pagination__item{
    background:rgb(249, 244, 244)
  }
  .pagination__item--active{
    background: #880e4f !important;
    color: #fff
  }
  .pagination {
    margin:0 auto !important;
    li{
      a{
        background:rgb(249, 244, 244)
      }
    }
  }
}
.el-cascader-menus{
  z-index: 90141226 !important;
}
.el-message-box__wrapper{
  z-index: 90141226 !important;
}
.widgetInstance-save-progress{
  margin-top: 25px;
  margin-left: 25px;
}
.widgetInstance-save-progress-msg{
  margin-top: 50px;
}
