.childBox {

}

.divider {
    display: inline-block;
    margin: 4px 0;
}

.subMenu {
  width: 100%;
  background: #438ED6;
  color: gainsboro;
  border-radius: 8px;
  margin: 4px 8px;
  text-align: center;
  line-height: 36px;
  height: 36px;
  span {
    width: 80px;
    display: inline-block;
    float: left;
  }
  a {
    display: inline-block;
    height: 36px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #13c2c2;
    background: #fff;
    color: #222222;
    width: calc(100% - 80px)
  }
  &.active {
    a {
      color: #ff934f !important;
      border-color: #ff934f !important;
    }
  }
}

.subMenuBox {
  border: 1px solid #eee;
  div {
    display: flex;
    justify-content: space-around;
    line-height: 32px;
    background-color: #eee;
  }
  ul {
    position: relative;
    list-style: none;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    &:before {
      position: absolute;
      display: block;
      content: ' ';
      left: 17px;
      top: -10px;
      bottom: 14px;
      border-left: 1px dotted #e5e5e5;
    }
    li {
      position: relative;
      margin: 0 2px;
      padding: 0;
      border-radius: 16px;
      a {
        color: #353535;
        display: block;
        padding: 5px 0 5px 40px
      }
      &:before {
        transition: transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1), background-color 0.1s cubic-bezier(0.175, 0.885, 0.32, 1);
        position: absolute;
        display: block;
        content: ' ';
        width: 8px;
        height: 8px;
        border-radius: 4px;
        background-color: #e5e5e5;
        left: 12px;
        top: 10px;
        z-index: 11;
      }
      &:after {
        position: absolute;
        display: block;
        content: ' ';
        border-bottom: 1px dotted #e5e5e5;
        width: 20px;
        left: 15px;
        top: 14px;
        z-index: 10;
      }
      &:hover {
        background-color: #a7c6d675 !important;
        &:before {
          background-color: #1890ff
        }
      }
      &.active {
        &:before {
          background-color: #1890ff
        }
      }
    }
  }
}
.gridMenu {
  //width: calc(33% - 16px);
  //margin: 6px;
  text-align: center;
  cursor: pointer;
  padding: 24px 8px;
  &.active {
    color: #1890ff !important;
    //font-size: 16px !important;
    font-weight: bold ;
    //border-color: #3ae7ff !important;
    //box-shadow: 1px 0 0 0 #3ae7ff, 0 1px 0 0 #3ae7ff, 1px 1px 0 0 #3ae7ff, 1px 0 0 0 #3ae7ff inset, 0 1px 0 0 #3ae7ff inset;
  }
}

.arrayBox {
  display: flex;
  //padding:4px;

  :global(.active) {
    border-color: #8cc8ff;
    color: #8cc8ff;
  }
  div {
    margin: 4px 4px;
    text-align: center;
    height: 24px;
    width: 24px;
    line-height: 24px;
    border: 1px solid #eee;
    //border-radius: 8px;
    cursor: pointer;
    &:hover {
      border-color: #8cc8ff;
      color: #8cc8ff;
    }
  }
}

.arrayItemLabel{
   padding-left: 10px;
   width: 68%;
}

.arrayItemAction{
  width:32%;
  :global(.ant-btn){
    padding-left: 4px !important;
    padding-right: 4px !important;
    border-radius: 0 !important;
    height: auto !important;
    color:#ccc;
    margin-left: 2px;
  }
}

.loading {
  text-align: center;
  padding: 30px 50px;
  margin: 20px 0;
  width: 100%;
  position: absolute;
  z-index: 99;
  background: #fff;
  top: 56px;
  left: 0;
}

.control {
  position: absolute;
  top: 0;
  left: calc(50% - 110px);

  > div {
    display: inline-block;
    height: 48px;
    width: 36px;
    margin: 8px 4px;
    cursor: pointer;
    color: #b2abab;
    text-align: center;
    &:active {
      background: #9fc9eb;
      box-shadow: 1px 0 0 0 #a4a2a9, 0 1px 0 0 #a4a2a9, 1px 1px 0 0 #a4a2a9, 1px 0 0 0 #a4a2a9 inset, 0 1px 0 0 #a4a2a9 inset;
    }
    &:hover{
      color: #6BAAEB;
    }
  }
}

.dropBox {
    margin-bottom: 8px;
    :global(.ant-card-head) {
      min-height: 24px;
      background: #dbdde0;
    }
    :global(.ant-card-head-title) {
      padding: 6px 0;
      font-size: 14px;
    }
    :global(.ant-card-extra){
      padding: 5px 0;
    }
    ul {
      list-style: none;
      padding: 12px;
      margin-bottom: 0;
    }
  }

.dropBoxDymic{
  composes:dropBox;
  :global(.ant-card-head) {
    background: #A7C6D6;
  }
}

.canDrop{
  box-shadow: 1px 0 0 0 #64a2ff, 0 1px 0 0 #64a2ff, 1px 1px 0 0 #64a2ff, 1px 0 0 0 #64a2ff inset, 0 1px 0 0 #64a2ff inset;
}

.over{
  background: #3ae7ff;
}

.boxItem {
   background: #dee1ea;
   width: 100%;
   padding-left: 10px;
   border-radius: 4px;
   box-shadow: 1px 0 0 0 #aaa4aa, 0 1px 0 0 #aaa4aa, 1px 1px 0 0 #aaa4aa, 1px 0 0 0 #aaa4aa inset, 0 1px 0 0 #aaa4aa inset;
   margin-bottom: 12px;
   cursor: pointer;
   line-height: 32px;
  height: 32px;
   i {
     margin-right: 10px;
     font-size: 16px;
     float: right;
     line-height: 32px;
     &:hover {
       color: #3ae7ff;
     }
   }
 }

.textTitle{
  white-space:nowrap;
  text-overflow:ellipsis;
  overflow:hidden;
  max-width: 120px;
  display: inline-block
}

.boxItemNoClick {
  composes:boxItem;
  cursor:default;
}