.childBox {

}

.divider {
  &:global(.ant-divider-horizontal) {
    padding-top: 12px;
  }
}

.subMenu {
  width: 100%;
  background: #13c2c2;
  color: gainsboro;
  border-radius: 8px;
  margin: 4px 8px;
  text-align: center;
  line-height: 36px;
  height: 36px;
  span {
    width: 80px;
    display: inline-block;
    float: left;
  }
  a {
    display: inline-block;
    height: 36px;
    border-radius: 0 4px 4px 0;
    border: 1px solid #13c2c2;
    background: #fff;
    color: #222222;
    width: calc(100% - 80px)
  }
  &.active {
    a {
      color: #ff934f !important;
      border-color: #ff934f !important;
    }
  }
}

.gridMenu {
  width: calc(33% - 16px);
  margin: 6px;
  text-align: center;
  cursor: pointer;
  &.active {
    color: #3ae7ff !important;
    border-color: #3ae7ff !important;
    box-shadow: 1px 0 0 0 #3ae7ff, 0 1px 0 0 #3ae7ff, 1px 1px 0 0 #3ae7ff, 1px 0 0 0 #3ae7ff inset, 0 1px 0 0 #3ae7ff inset;
  }
}

.arrayBox {
  display: flex;

  :global(.active) {
    border-color: #8cc8ff;
    color: #8cc8ff;
  }
  div {
    margin: 0 4px;
    text-align: center;
    height: 36px;
    width: 36px;
    line-height: 36px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      border-color: #8cc8ff;
      color: #8cc8ff;
    }
  }
}

.loading {
  text-align: center;
  padding: 30px 50px;
  margin: 20px 0;
  width: 100%;
  position: absolute;
  z-index: 99;
  background: #fff;
  top: 56px;
  left: 0;
}

.control {
  position: absolute;
  top: 0;
  left: calc(50% - 110px);

  > div {
    display: inline-block;
    height: 48px;
    width: 36px;
    margin: 8px 4px;
    cursor: pointer;
    color: #b2abab;
    text-align: center;
    &:active {
      background: #9fc9eb;
      box-shadow: 1px 0 0 0 #a4a2a9, 0 1px 0 0 #a4a2a9, 1px 1px 0 0 #a4a2a9, 1px 0 0 0 #a4a2a9 inset, 0 1px 0 0 #a4a2a9 inset;
    }
    &:hover{
      color: #6BAAEB;
    }
  }
}

.dropBox {
  margin-bottom: 8px;
  :global(.ant-card-head) {
    min-height: 24px;
    background: #dbdde0;
  }
  :global(.ant-card-head-title) {
    padding: 6px 0;
    font-size: 14px;
  }
  ul {
    list-style: none;
    padding: 12px;
    margin-bottom: 0;
  }
}

.canDrop{
  box-shadow: 1px 0 0 0 #64a2ff, 0 1px 0 0 #64a2ff, 1px 1px 0 0 #64a2ff, 1px 0 0 0 #64a2ff inset, 0 1px 0 0 #64a2ff inset;
}

.over{
  background: #3ae7ff;
}

.boxItem {
   background: #dee1ea;
   width: 100%;
   padding-left: 10px;
   border-radius: 4px;
   box-shadow: 1px 0 0 0 #aaa4aa, 0 1px 0 0 #aaa4aa, 1px 1px 0 0 #aaa4aa, 1px 0 0 0 #aaa4aa inset, 0 1px 0 0 #aaa4aa inset;
   margin-bottom: 12px;
   cursor: pointer;
   line-height: 32px;
   i {
     margin-right: 10px;
     font-size: 16px;
     float: right;
     line-height: 32px;
     &:hover {
       font-size: 18px;
       color: #3ae7ff;
     }
   }

 }

.boxItemNoClick {
  composes:boxItem;
  cursor:default;
}