.noScrollBar::-webkit-scrollbar {
  display: none;
}

.loading {
  text-align: center;
  padding: 30px 50px;
  margin: 20px 0;
  width: 100%;
}
.areaTitle{
  margin: -24px -24px 8px;
  background-color: #eee;
  font-size: 14px;
  padding-left: 10px;
  line-height: 31px;
  height: 31px;
  color: rgba(0, 0, 0, 0.65);
}
