@mixin rounded-corners {
  border-radius: 5px;
}

@mixin half-rounded-corners {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@mixin full-content{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@mixin flex-center{
  align-items: center;
  justify-content: center;
  display: flex;
}


@mixin after-triangle{
  display: block;
  font-style: normal;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 10px 8px 10px 0;
  border-style: solid;
  border-color: transparent #546e7a transparent transparent;
  content: ".";
  position: absolute;
  top: 8px;
  right: 0;
}
