@mixin rounded-corners {
  border-radius: 5px;
}

@mixin half-rounded-corners {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

@mixin full-content{
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

@mixin flex-center{
  align-items: center;
  justify-content: center;
  display: flex;
}


@mixin after-triangle{
  display: block;
  font-style: normal;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
  border-width: 10px 8px 10px 0;
  border-style: solid;
  border-color: transparent #ccc transparent transparent;
  content: ".";
  position: absolute;
  top: 8px;
  right: 0;
}


@mixin mixin-container($width,$padding) {
  height: calc(100% - 56px);
  .fluid-container{
    padding: $padding;
    height: 100%;
    @include flex-center;
    .card{
      width: $width ;
      padding: 24px;
      > div{
        height: inherit;
        padding: 24px;
        position: relative
      }
    }
  }
}
