@import "variables";
@import "mixins/mixins";
@import "common/layout";
@import "comp/check-button";
@import "comp/color-picker";
@import "comp/option-adjust";
@import "comp/main-page";
@import "comp/vertical-tabs";

.el-input__inner{
  background-color:transparent !important;
  border-radius:0 !important;
  color:#ffffff !important;
}

.el-input--small .el-input__inner{
  height: 25px !important;

}

.el-input-number--small{
  width: 60px !important;
}

.el-slider__runway.show-input{
  margin-right: 85px !important;
}



.tabs__bar{
  height: 38px !important;
}

.tabs__item{
  align-items:left !important;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 5px !important;
}
