$background-color:#4c4e59;
$btn-color:$background-color;


//  common/header
$header-background_color:#363d3f;
$header-height:64px;
$header-zIndex:1880;
$header-margin_left:30px;
$header-margin_right:24px;

$header-logo_width:46px;
$header-logo_font-size:24px;
$header-logo_font-family:Microsoft YaHei, sans-serif;

// views/chart-adjustment
$lg-size-screen:1200px;
$md-size-screen:979px;
$md-panel-width:600px;
$lg-panel-width:800px;

//  views/data-definition

//


//字体
$font_family:"Microsoft YaHei";


