$background-color:#4c4e59;
$btn-color:$background-color;


//  common/header
$header-background_color:#363d3f;
$header-height:80px;
$header-zIndex:1880;
$header-margin_left:30px;
$header-margin_right:24px;

$header-logo_width:46px;
$header-logo_font-size:24px;
$header-logo_font-family:Microsoft YaHei, sans-serif;

// views/chart-adjustment
$lg-size-screen:1200px;
$md-size-screen:979px;
$md-panel-width:600px;
$lg-panel-width:800px;

//  views/data-definition

// views/home
$menu-background-color:#eaeff3;
$menu-width:260px;
$menu-collapse-width:56px;
$menu-active-board-right-color:#a1a1a9;
$menu-active-background-color:linear-gradient(to  right,#2eb2de, #369cf0);
$menu-hover-background-color:rgba(0, 0, 0, 0.1);

$menu-active-color:#fff;

$home-content-background-color:#eff5f9;
//

//字体
$font_family:"Microsoft YaHei";

//themeBlue
$header-background-img:url(/static/image/themeBlue/header_bg.png);

