.brace-container {
  height: 100%;
  .brace-control {
    height: 28px;
    z-index: 20;
    display: flex;
    justify-content: space-between;
    background-color: #21627b;

    .brace-control__info {
      overflow: hidden;
      height: 28px;
      line-height: 28px;
      padding: 0 10px;

      .brace-control__time {
        color: #FFF;
        display: inline-block;
        margin-right: 10px;
      }
      .brace-control__type-info {
        color: #333;
      }
      .brace-control__type-error,.brace-control__type-warn {
        color: #e43c59;
      }
    }
    .el-button {
      border-radius: 0;
      margin-left: 25px;
    }
  }
  .brace-panel-hasToolbar {
    height: calc(100% - 28px)
  }
  .brace-panel-only {
    height: 100%
  }
}


