.brace-charts__container {
  height: calc(100% - 56px);
  position: relative;
  .handler {
    position: absolute;
    left: 40%;
    top: 0;
    bottom: 0;
    width: 10px;
    cursor: col-resize;
    z-index: 100;
    background-color: transparent;
    border-left: 1px solid #ccc;
  }
  .echart-board{
    position: absolute;
    left:10px;
    top: 70px;
    right: 60px;
    width: calc(100% - 70px);
    height: calc(100% - 80px);

  }

}
