.char-container { position: relative; height: 100%; width: 100%; padding: 0; border: 0px solid #999; display: flex;
  flex-direction:column;align-items:stretch;
  .container_charpanel{flex-grow: 1; position: relative; width: 100%;height: 100%;  }
}
.container_progress{width: 100%; position: absolute; height: 100%; left:calc(50% - 35px); top: calc(50% - 70px)}
.container_tools,.container_tools_background{
    height:30px; width: 100%; position: absolute;top:0; left: 0; text-align: right;
}
.container_tools_background{background-color:#000;
  filter:alpha(opacity=10);-moz-opacity:0.1;-khtml-opacity: 0.1;opacity: 0.1;
}
.container_tools:hover{display: block}
.container_tools_btn{margin:0 !important;}
.container_title { line-height: 40px; font-size: 13px; text-align: center; font-family: "Microsoft YaHei UI";
background-position: center}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
  opacity: 0
}
