.btn-group{
  &.disabled span{
    border-color: #d6d6d6!important;
    color: #d6d6d6!important;
    cursor: not-allowed;
  }
}


.chk-btn {
  display: inline-block;
  span {
    display: inline-block;
    height: 18px;
    line-height: 18px;
    vertical-align: middle;
    text-align: center;
    min-width: 46px;
    cursor: pointer;
    margin: 0 10px 0 0;
    padding: 0 4px;
    border: 1px solid #d6d6d6;
    color: #d6d6d6;
    font-size: 12px;
    font-family: Roboto, sans-serif;
  }

  &.active{
    span {
      border-color: #828599;
      color: #828599;
    }
  }
}

