.color-picker {
  display: inline-block;
  position: relative;
  .color-picker__panel {
    top: 20px;
    z-index: 9999;
    left:10px;
    position: absolute;
    .color-picker__picker{
      box-shadow: none;
      border-radius:0;color: black
    }
    .color-picker__control-btn{
      background-color: #fff;
    }
  }
  .color-picker__trigger {
    display: inline-block;
    height: 18px;
    margin-left: 10px;
    .color-picker__color {
      display: inline-block;
      position: relative;
      width: 237px;
      height: 16px;
      text-align: center;
      .color-picker__color-inner {
        @include full-content;
        border-radius: 8px;
      }
    }
  }
}


