.color-picker {
  display: inline-block;
  position: relative;
  .color-picker__panel {
    top: 20px;
    z-index: 99;
    left:10px;
    position: absolute;
    .color-picker__picker{
      box-shadow: none;
      border-radius:0;color: black
    }
    .color-picker__control-btn{
      background-color: #fff;
    }
  }
  .color-picker__trigger {
    display: inline-block;
    height: 18px;
    border: 1px solid #bfcbd9;
    border-radius: 4px;
    margin-left: 10px;
    .color-picker__color {
      display: inline-block;
      position: relative;
      width: 220px;
      height: 16px;
      text-align: center;
      background-color: #fff;
      .color-picker__color-inner {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 3px;
      }
    }
  }
}


