.table-wrap h5 { font-size: 18px; line-height: 100px; font-family: "Microsoft YaHei UI Light";
  font-weight: bold; color: #575a5b;
  border-bottom: 1px solid #ccc;
}
.table-wrap { padding:0 30px;font-family: "Microsoft YaHei"; font-size: 12px;
    .datasourceListWrap {
      height: calc(100vh - 180px);
      overflow-y:auto;
    }
}

.popupTable-panel{ width: 100%;}
.input_label {
  text-align: center;
  width: 60px;
  vertical-align: middle;
  float: left;
  font-size: 12px;
  color: rgb(72, 88, 106);
  line-height: 1;
  padding: 11px 0;
  box-sizing: border-box;color: #aaa}
.input_widget {float: left;width: 110px; margin-top: 3px; text-align: center}
.input_widget .el-input__inner {color: #aaa}
.input_label_first { text-align: left; width: 50px;}
.expand-pannel p { width: 100%; clear: both; line-height: 35px; height: 35px; margin-bottom: 0;color: #aaa}
.expand-pannel p .el-form-item__label,.expand-pannel p .el-input .el-input__inner { color: #aaa}
.expand-pannel p label.prop_title { width: 80px; text-align: left; display: inline-block; float: left; }
.expand-pannel p span { text-align: left; display: inline-block; float: left}
.expand-pannel p span.el-input-number__decrease,.expand-pannel p span.el-input-number__increase { text-align: center}
.popupTable{ width: 100%; height:500px; background-color: #fff; padding: 25px;}
