.group {
  padding: 0 5px;
  .tabs-head{
    background-color: #e0e0e0;
    height: 38px !important;
    padding: 10px 5px;
    border: 1px solid #ccc;
  }

  .tabs-item{
    display: flex;
    flex-direction: column;
    &:hover{
      cursor: pointer;
    }
    .item-b{
      height: 4px;
    }
    .activeItem-b{
      @extend .item-b;
      background-color: #1e88e5;
    }
  }

  .tabs-content {
       max-height:300px;
       position: relative;
       height: inherit;
       overflow-y: auto;
       overflow-x: hidden;
       border: 1px solid #ccc;
       border-top: none !important;
    }

}
