.subheader {
  padding: 0 5px !important;
  .mu-sub-header{
    line-height: initial;
    padding-left: 2px !important;
    margin-top: 5px;
  }
}

.serieToolBar{
  justify-content: flex-end;
  display: flex;
  .menu{
    min-width: auto !important;
    .menu__content{
      left:6px !important;
      top:0 !important;
      .list__tile{
        color: ghostwhite;
      }
    }
  }
}

