.subheader {
 height: 36px !important;
  padding: 0 5px !important;
}

.serieToolBar{
  justify-content: flex-end;
  display: flex;
  .menu{
    min-width: auto !important;
    .menu__content{
      left:6px !important;
      top:0 !important;
      .list__tile{
        color: ghostwhite;
      }
    }
  }
}
