.property {
  .el-input__inner {
    background-color: transparent !important;
    border-radius: 4px !important;
    color: #ffffff !important;
  }
  .el-input--small .el-input__inner {
    height: 22px !important;
  }
  .el-input-number--small {
    width: 60px !important;
  }
  .el-slider__runway.show-input{
    margin-right: 85px !important;
  }
  .label{
    line-height: 30px
  }
  @media only screen and (min-width: 0) {
    .layout .flex.offset-xs1 {
      margin-left: 3.333333333333332% !important;
    }
  }
  .property-color__picker{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .changbtn{
    margin: 0 0;
    padding: 4px 4px;
    height: 20px;
    min-width: auto;
    vertical-align: middle;
    font-size: 12px;
    border-radius: 4px;
    .btn__content{
      height: 14px;
    }
  }
  .swith-select{
    position: relative;
    top:5px;
  }
  .value{
    align-items: center;
    display: flex;
  }
  .property-used{
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: middle;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .property-title__disabled{
    color:#838383;
  }

}
