

.vertical-tab__container {
  position: relative;
  height: inherit;
  .vertical-tab {
    position: absolute;
    width: 60px;
    top: 10px;
    left:10px;
    bottom: 10px;
    overflow: hidden;
    padding: 0;
    .vertical-tab__item {
      position: relative;
      display: block;
     text-align: center;
      height: 36px;
      line-height: 36px;
      cursor: pointer;
      margin: 5px 0 0;
    }
    .select_color{
      &:hover {
        background-color: #78909c;
        @include half-rounded-corners;
      }
      &.active{
        background-color: #78909c;
        @include half-rounded-corners;
      }
    }
    .indicator{
      &:hover {
        &:after {
          @include after-triangle
        }
      }
      &.active{
        &:after{
          @include after-triangle
        }
      }
    }

  }
  .vertical-tab__content {
    position: absolute;
    left: 70px;
    top: 10px;
    bottom: 10px;
    right: 10px;
    @include half-rounded-corners;
    >div{
      position: relative;
      height: 100%
    }
  }
  .vertical-tab__content__no-padding {
    position: absolute;
    left: 70px;
    top:0;
    bottom: 0;
    right: 0;
    overflow-y:scroll;
    overflow-x:hidden;
    &::-webkit-scrollbar{
      width: 8px;
      height: 12px;
      display: inline-block;
    }
    @include half-rounded-corners;
    >div{
      position: relative;
      height: inherit;
      padding-top: 20px;
    }

  }
}
