.widget-list{
  height: calc(100vh - 164px);
  overflow: hidden;
  background-color: #eeeeee;
  padding-left: 24px;
  padding-right: 24px;
  .widget-list-body{
    height: calc(100vh - 164px);
    overflow-y:auto;
  }
  .widget-box{
    width: 100%;
    background-color: #ffffff;
    margin: 15px 0;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12);
    min-width: 250px;
    .add-box{
      width: 100%;
      height: 283px;
      display: flex;
      align-items: center;
      justify-content: center;
      .large{
        color: #8c8c8c;
        font-size:164px;
        &:hover{
          cursor: pointer;
          font-size:185px;
          color: #a7c6d6 !important;
        }
      }
    }
    .header{
      width: 100%;
      display: inline-block;
      background-color: #ffffff;
      vertical-align: top;
      position: relative;

      .title{
        font-family: 'Roboto',sans-serif;
        font-size: 16px;
        padding-left: 30px;
        padding-top: 10px;
        line-height: 30px;
        color: #676767;
        font-weight: 400;
        text-transform: uppercase;
        display: inline-block;
      }
    }
    .wg-body{
      height: 200px;
      padding: 0 20px;
      background-color: #ffffff;
      margin-bottom: 5px;
      /*.image{
        height: 200px;
      }*/
      .image{
        display: block;
        margin:0 auto;
        width: 100%;
        height: 100%;
        max-width: 100% !important;
        max-height: 240px !important;
      }
    }
    .action{
      height:38px;
      border-top: 1px solid #ccc;
      display: flex;
      dispaly: -webkit-flex;
      flex-direction: row-reverse;
      .action-btn{
        border-radius:0 !important;
        border: none;
        margin-left:0;
        span{color: #8c8c8c;}
        padding: 5px 5px;
        border-left: 1px solid #ccc !important;
        &:hover{
          cursor: pointer;
          background-color: #8c8c8c;
          span{color: #FFFFFF !important;}
          .mini{
            color: #FFFFFF !important;
          }
        }}
    }
  }
  /*.cardH{
    height: 300px !important;
    margin-bottom: 30px;
    border-radius: 5px;
  }

  .card__text{
    padding:16px;
  }
  .card__text>div{
    min-width: 60px;
    overflow: hidden;
    text-overflow:ellipsis;
  }
  .card>.card__text{
    height: 260px !important;
  }
  .cardCol{
    height: 40px;
  }
  .content_box{
    overflow: auto;
  }*/
}
.widget-list-select{
  @extend .widget-list;
  height: 100%;
  .widget-list-body{
    height: 100%;
  }
  .widget-box{
    border-radius: 5px;
    .header{
      border-radius: 5px;
    }
    .caption{
      font-size: 14px;
      font-weight: 400;
      height:38px;
      border-top: 1px solid #ccc;
      display: flex;
      dispaly: -webkit-flex;
      align-items: center;
      justify-content: center;
    }
    &:hover{
      cursor: pointer;
      box-shadow:  0 1px 5px rgba(11, 126, 245, 0.93), 0 2px 2px rgba(0, 0, 0, 0.22), 0 3px 1px -2px rgba(0, 0, 0, 0.26);
      .caption{
        color:rgba(11, 126, 245, 0.93);
      }
    }
  }

}


