.mainWrap {
   flex: 1 1 0;
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.title {
  font-size: 14px;
  font-family: "Microsoft YaHei UI";
  color:#666;
  padding: 5px 10px;
  margin: 0;
  & i{
    cursor: pointer;
    &:hover {
      color: dodgerblue;
    }
  }
}

.dsSelect {
  height: 30px;
  text-align: center;
  margin: 10px 0;
}

.tableList{
  flex: 1 1 0;
  overflow: auto;
  & ul{
    padding: 0;
    margin: 0;
  }
  & li {
    padding: 0 10px 0 50px;
    background: url(../../../../assets/images/tableSchema/table_a.png)  no-repeat 30px center ;
    margin: 0;
    list-style: none;
    line-height: 25px;
    cursor: pointer;
    &:hover {
      background-color: #f6f6f6;
    }
  }
}

.viewList{
  height: 100px;
  overflow: auto;
  & ul{
    padding: 0;
    margin: 0;
  }
  & li {
    position: relative;
    padding: 0 10px 0 50px;
    background: url(../../../../assets/images/tableSchema/view2.png)  no-repeat 30px center ;
    margin: 0;
    list-style: none;
    line-height: 25px;
    cursor: pointer;
    &:hover {
      background-color: #f6f6f6;
      & i {
        display: inline-block;
      }
    }
    & i {
      display: none;
    }
  }
}

.row_disabled {
  color: #ccc;
  cursor: not-allowed!important;
}

.delete_icon {
  position: absolute;
  right: 20px;
  top: 6px;
  //float: right;
  //margin: 5px 4px 0 0;
  font-size: 14px;
  &:hover {
    cursor: pointer;
    color: dodgerblue;
  }
}

.edit_icon {
  position: absolute;
  right: 40px;
  top: 6px;
  //float: right;
  //margin: 5px 4px 0 0;
  font-size: 14px;
  &:hover {
    cursor: pointer;
    color: dodgerblue;
  }
}