* {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.page_top {
  height: $header-height;
  //background-color: $header-background_color;
  background-image: $header-background-img;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0 4px 5px rgba(0,0,0,0.14), 0 1px 10px rgba(0,0,0,0.12);
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  z-index: $header-zIndex;

  .logo_area{
    flex-grow: 2;
    margin-left: $header-margin_left;
    line-height: $header-height;
    transition: all .6s ease-out;
    img{
      vertical-align: middle;
      width: $header-logo_width;
      margin-right: 14px;
      transition: all .6s ease-out;
    }
    h2{
      font-family:$header-logo_font-family;
      display: inline;
      //font-weight:bold;
      color:#fff;
      font-size: $header-logo_font-size;
      vertical-align: middle;
      margin-right: 20px;
      transition: all .6s ease;
    }
  }


  .logo_area.collapse{
    margin-left: 16px!important;
    img{
      width: 30px!important;
    }
    h2{
      font-size: 0!important;
      margin-right: 0!important;
    }
  }

  .quick_area {
    float: left;
    display: flex;
    flex-grow:8;
    justify-content:space-between;
    .pull_right{
      margin-right: $header-margin_right;
    }
    .pull_left{

    }
  }
}



