//end tab

ul li {
  list-style-type: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
}

.full-height {
  height: 100%;
  color: #fff;
}

//view-header
.header-toolbar{
  z-index: 201!important;
  .menu{
    padding: 0!important;
    .menu-item {
      min-width:$header-menu-item__min-width;
      a{
        text-decoration: none
      }
      .menu-item__icon{
        width: auto!important;height: auto!important;
      }
      .menu-divider{
        background: $header-divider__color;
      }
    }
    .router-link-exact-active {
      div{
        color: $header-menu__active-background;
      }
      a{
        background: $header-menu__active-background;
      }
    }
  }
  .title{
    margin-right: 28px;
  }
}

