//顶部工具栏背景色
$header_bg_color:#363d3f;
//按钮背景色
$header_btn_bg_color:#0faedb;
//按钮字体大小
$header_btn_bg_fontSize:12px;
//按钮字体颜色
$header_btn_font_color:#ccc;
//按钮图标颜色
$header_btn_icon_color:#fff;

//字体
$font_family:"Microsoft YaHei";

//属性编辑页背景颜色
$prop_editor_bg_color:#f5f5f5;
