.mainWrap {
  height: calc(100vh - 130px);
  width: 100%;
  display: flex;
  flex-direction:row;
  background-color: #fff;
}

.leftWrap {
  width: 280px;
  display: flex;
  border-right: 1px solid rgb(232, 232, 232);
}

.rightWrap {
  flex: 1 1 0;
  overflow: hidden;
  display: flex;

}

.page_blank {
  width: 100%;
  min-height: calc(100vh - 128px );
  line-height: calc(100vh - 128px );
  text-align: center;
  font-family: "Microsoft YaHei UI";
  font-size: 22px;
}