.scollBar ::-webkit-scrollbar-thumb {
    background-color: #455a64;
    border-radius: 5px;
}

.scollBar ::-webkit-scrollbar-track {
    background-color: #90a4ae;
}

.scollBar ::-webkit-scrollbar {
    display: none;
}
